# Mongodb

Dans ce TP nous allons utiliser la librairie pymongo, pour créer une base de données dans mongodb avec python puis la questionner.

### Data
Voici des données au format csv, elles sont une partie d'un dataset recensant les crimes au Etats-Unis entre 1984 et 2014.

https://drive.google.com/file/d/10z7kUXDO4BHffJ6ZfVc42CgIs5558vGd/view?usp=sharing

### Création de la BDD

In [123]:
!pip install pandas
!pip install pymongo

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (1.1.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas) (2020.4)
Requirement already satisfied: numpy>=1.15.4 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas) (1.19.4)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: pymongo in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (3.11.2)

In [2]:
import pandas as pd
import pymongo
from pymongo import MongoClient

Créez une fonction python pour passer ce csv dans une base de données mongo, chaque lignes devra être un document.

In [125]:
client = MongoClient('localhost', 27017)
db = client['crime']
collection = db['crime_document']

def store(header=None):
    
    df = pd.read_csv('Crime.csv', encoding='latin-1')
   
    collection.insert_many((df.to_dict('records')))
                           
store()

### Requêter la BDD

Créez un connecteur pour votre BDD

In [3]:
client = MongoClient('localhost', 27017)
db = client['crime']
collection = db['crime_document']

##### Quelles sont les armes utilisées par les criminel?
Retournez par rapport à tous les documents les valeurs uniques de la clef weapon.

In [4]:
weapons = collection.distinct('Weapon')
weapons

['Blunt Object',
 'Strangulation',
 'Unknown',
 'Rifle',
 'Knife',
 'Firearm',
 'Shotgun',
 'Fall',
 'Handgun',
 'Drowning',
 'Suffocation',
 'Explosives',
 'Fire',
 'Drugs',
 'Gun',
 'Poison']

##### Combien de crimes ont été commis en 1980?

In [128]:
crimes = collection.count_documents({'Year': 1980})
crimes

23092

##### Combien de crimes ont été commis par des hommes au Texas?

In [129]:
crimes_perpetrator_male = collection.count_documents({'State': 'Texas', 'Perpetrator Sex': 'Male'})
crimes_perpetrator_male

6160

##### Combien de crimes ont été commis par chaque sexe en Alaska?

In [130]:

pipeline = [
        { "$match": { "State": "Alaska" } },
        { "$group": { "_id": "$Perpetrator Sex", "count": {"$sum": 1}}},
        {"$sort": {"count": -1}}
]

alaska_victims = collection.aggregate(pipeline)
list(alaska_victims)

[{'_id': 'Male', 'count': 226},
 {'_id': 'Unknown', 'count': 63},
 {'_id': 'Female', 'count': 28}]

##### Combien y a-t'il eu de victimes dans chaque état?

In [131]:
pipeline = [
        { "$group": { "_id": "$State", "count": {"$sum": "$Victim Count"}}},
        {"$sort": {"count": -1}}
]

victims_per_state = collection.aggregate(pipeline)
list(victims_per_state)

[{'_id': 'California', 'count': 1678},
 {'_id': 'New York', 'count': 1182},
 {'_id': 'Florida', 'count': 888},
 {'_id': 'Texas', 'count': 810},
 {'_id': 'New Jersey', 'count': 558},
 {'_id': 'Michigan', 'count': 546},
 {'_id': 'Illinois', 'count': 512},
 {'_id': 'Pennsylvania', 'count': 420},
 {'_id': 'Ohio', 'count': 354},
 {'_id': 'Maryland', 'count': 256},
 {'_id': 'Massachusetts', 'count': 256},
 {'_id': 'Missouri', 'count': 250},
 {'_id': 'Louisiana', 'count': 230},
 {'_id': 'Washington', 'count': 216},
 {'_id': 'Connecticut', 'count': 198},
 {'_id': 'Alaska', 'count': 188},
 {'_id': 'Indiana', 'count': 186},
 {'_id': 'Tennessee', 'count': 154},
 {'_id': 'Virginia', 'count': 148},
 {'_id': 'Nevada', 'count': 132},
 {'_id': 'Arizona', 'count': 126},
 {'_id': 'Kentucky', 'count': 122},
 {'_id': 'Kansas', 'count': 120},
 {'_id': 'North Carolina', 'count': 116},
 {'_id': 'Alabama', 'count': 114},
 {'_id': 'Arkansas', 'count': 114},
 {'_id': 'Colorado', 'count': 112},
 {'_id': 'Oklahoma', 'count': 104},
 {'_id': 'Iowa', 'count': 100},
 {'_id': 'Minnesota', 'count': 98},
 {'_id': 'Oregon', 'count': 96},
 {'_id': 'Wisconsin', 'count': 96},
 {'_id': 'Georgia', 'count': 88},
 {'_id': 'Mississippi', 'count': 78},
 {'_id': 'South Carolina', 'count': 54},
 {'_id': 'West Virginia', 'count': 52},
 {'_id': 'Nebraska', 'count': 42},
 {'_id': 'Maine', 'count': 36},
 {'_id': 'New Mexico', 'count': 30},
 {'_id': 'North Dakota', 'count': 30},
 {'_id': 'Idaho', 'count': 28},
 {'_id': 'Hawaii', 'count': 26},
 {'_id': 'Montana', 'count': 22},
 {'_id': 'Wyoming', 'count': 20},
 {'_id': 'Utah', 'count': 18},
 {'_id': 'Delaware', 'count': 14},
 {'_id': 'Rhodes Island', 'count': 6},
 {'_id': 'Vermont', 'count': 6},
 {'_id': 'South Dakota', 'count': 6},
 {'_id': 'New Hampshire', 'count': 4},
 {'_id': 'District of Columbia', 'count': 0}]

In [132]:
##### Combien y a-t'il eu de victimes femme dans chaque état

In [16]:
pipeline = [
        { "$match": { "Victim Sex": "Female" } },
        { "$group": { "_id": "$State", "count": {"$sum": "$Victim Count"}}},
        {"$sort": {"count": -1}}
]

female_victims_per_state = collection.aggregate(pipeline)
list(female_victims_per_state)

[{'_id': 'California', 'count': 3211},
 {'_id': 'Texas', 'count': 1876},
 {'_id': 'New York', 'count': 1756},
 {'_id': 'Florida', 'count': 1661},
 {'_id': 'Michigan', 'count': 1089},
 {'_id': 'Illinois', 'count': 1008},
 {'_id': 'Ohio', 'count': 883},
 {'_id': 'Pennsylvania', 'count': 870},
 {'_id': 'North Carolina', 'count': 674},
 {'_id': 'Georgia', 'count': 653},
 {'_id': 'New Jersey', 'count': 634},
 {'_id': 'Louisiana', 'count': 616},
 {'_id': 'Maryland', 'count': 509},
 {'_id': 'Alabama', 'count': 504},
 {'_id': 'Missouri', 'count': 481},
 {'_id': 'Virginia', 'count': 476},
 {'_id': 'South Carolina', 'count': 422},
 {'_id': 'Tennessee', 'count': 410},
 {'_id': 'Indiana', 'count': 403},
 {'_id': 'Oklahoma', 'count': 403},
 {'_id': 'Kentucky', 'count': 333},
 {'_id': 'Arizona', 'count': 323},
 {'_id': 'Colorado', 'count': 304},
 {'_id': 'Washington', 'count': 275},
 {'_id': 'Mississippi', 'count': 263},
 {'_id': 'Massachusetts', 'count': 262},
 {'_id': 'Arkansas', 'count': 252},
 {'_id': 'Oregon', 'count': 226},
 {'_id': 'Kansas', 'count': 221},
 {'_id': 'Wisconsin', 'count': 210},
 {'_id': 'Nevada', 'count': 198},
 {'_id': 'Connecticut', 'count': 195},
 {'_id': 'District of Columbia', 'count': 176},
 {'_id': 'Minnesota', 'count': 167},
 {'_id': 'West Virginia', 'count': 115},
 {'_id': 'Iowa', 'count': 111},
 {'_id': 'Alaska', 'count': 98},
 {'_id': 'Nebraska', 'count': 84},
 {'_id': 'New Mexico', 'count': 75},
 {'_id': 'Hawaii', 'count': 74},
 {'_id': 'Utah', 'count': 67},
 {'_id': 'Maine', 'count': 67},
 {'_id': 'Rhodes Island', 'count': 61},
 {'_id': 'Delaware', 'count': 51},
 {'_id': 'Idaho', 'count': 50},
 {'_id': 'Wyoming', 'count': 40},
 {'_id': 'New Hampshire', 'count': 39},
 {'_id': 'Montana', 'count': 34},
 {'_id': 'North Dakota', 'count': 25},
 {'_id': 'South Dakota', 'count': 16},
 {'_id': 'Vermont', 'count': 5}]

### Bonus

Installez la librairie streamlit
Créez un dashboard qui donne la posibilité de séléctionner une année pour retourner un barplot du nombre de crime commis avec chaque arme.

In [134]:
import pandas as pd
import streamlit as st
from pymongo import MongoClient

client = MongoClient('localhost', 27017)
db = client.crime
collection = db.crime_document

years = list(range(1980, 1985))

selected_date = st.selectbox("Year", years)

pipeline = [
        { "$match": { "Year": selected_date }},
        { "$group": { "_id": "$Weapon" , "count": {"$sum": 1}}},
        { "$sort": {"count": -1}}
]

result = collection.aggregate(pipeline)

data = pd.DataFrame(result).set_index('_id')

st.bar_chart(data)

In [ ]:
####Combien de victimes avaient l'âge de 18 ans?

In [5]:
crimes = collection.count_documents({'Victim Age': 18})
crimes

2172

In [ ]:
###Avec quel âge nous avons le plus de victimes?

In [15]:
pipeline = [
        { "$group": { "_id": "$Victim Age", "count": {"$sum": 1}}},
        {"$sort": {"count": -1}}
]

victims = collection.aggregate(pipeline)
list(victims)

[{'_id': 99, 'count': 160578},
 {'_id': 30, 'count': 98820},
 {'_id': 25, 'count': 98550},
 {'_id': 998, 'count': 93812},
 {'_id': 29, 'count': 90074},
 {'_id': 27, 'count': 89100},
 {'_id': 26, 'count': 88322},
 {'_id': 32, 'count': 86752},
 {'_id': 28, 'count': 85792},
 {'_id': 24, 'count': 83304},
 {'_id': 31, 'count': 82584},
 {'_id': 23, 'count': 82363},
 {'_id': 35, 'count': 79625},
 {'_id': 33, 'count': 78441},
 {'_id': 34, 'count': 77860},
 {'_id': 22, 'count': 75196},
 {'_id': 40, 'count': 70800},
 {'_id': 36, 'count': 68616},
 {'_id': 37, 'count': 68561},
 {'_id': 21, 'count': 67053},
 {'_id': 39, 'count': 64116},
 {'_id': 38, 'count': 63650},
 {'_id': 20, 'count': 63520},
 {'_id': 42, 'count': 61656},
 {'_id': 50, 'count': 57800},
 {'_id': 41, 'count': 56539},
 {'_id': 45, 'count': 53775},
 {'_id': 43, 'count': 52331},
 {'_id': 52, 'count': 51688},
 {'_id': 19, 'count': 50825},
 {'_id': 47, 'count': 49397},
 {'_id': 44, 'count': 49060},
 {'_id': 46, 'count': 48622},
 {'_id': 55, 'count': 46585},
 {'_id': 53, 'count': 46375},
 {'_id': 48, 'count': 46032},
 {'_id': 56, 'count': 45192},
 {'_id': 54, 'count': 43902},
 {'_id': 51, 'count': 43656},
 {'_id': 49, 'count': 43414},
 {'_id': 57, 'count': 40869},
 {'_id': 60, 'count': 40500},
 {'_id': 62, 'count': 39308},
 {'_id': 18, 'count': 39096},
 {'_id': 58, 'count': 36714},
 {'_id': 59, 'count': 35282},
 {'_id': 63, 'count': 32949},
 {'_id': 61, 'count': 32452},
 {'_id': 65, 'count': 31395},
 {'_id': 17, 'count': 28645},
 {'_id': 67, 'count': 27336},
 {'_id': 64, 'count': 26176},
 {'_id': 68, 'count': 25432},
 {'_id': 70, 'count': 25270},
 {'_id': 72, 'count': 24624},
 {'_id': 71, 'count': 22791},
 {'_id': 66, 'count': 21186},
 {'_id': 69, 'count': 21183},
 {'_id': 75, 'count': 18825},
 {'_id': 73, 'count': 18396},
 {'_id': 76, 'count': 18316},
 {'_id': 16, 'count': 17248},
 {'_id': 74, 'count': 17168},
 {'_id': 79, 'count': 16037},
 {'_id': 77, 'count': 15169},
 {'_id': 78, 'count': 14040},
 {'_id': 81, 'count': 13851},
 {'_id': 80, 'count': 12880},
 {'_id': 82, 'count': 12710},
 {'_id': 15, 'count': 10350},
 {'_id': 84, 'count': 10080},
 {'_id': 83, 'count': 9794},
 {'_id': 86, 'count': 9546},
 {'_id': 85, 'count': 8075},
 {'_id': 14, 'count': 5642},
 {'_id': 87, 'count': 5394},
 {'_id': 88, 'count': 4664},
 {'_id': 90, 'count': 4410},
 {'_id': 89, 'count': 4183},
 {'_id': 13, 'count': 3523},
 {'_id': 91, 'count': 2730},
 {'_id': 92, 'count': 2576},
 {'_id': 93, 'count': 2325},
 {'_id': 12, 'count': 2316},
 {'_id': 11, 'count': 1672},
 {'_id': 10, 'count': 1600},
 {'_id': 94, 'count': 1598},
 {'_id': 9, 'count': 1206},
 {'_id': 7, 'count': 1162},
 {'_id': 2, 'count': 1112},
 {'_id': 4, 'count': 1040},
 {'_id': 5, 'count': 1020},
 {'_id': 8, 'count': 1008},
 {'_id': 3, 'count': 951},
 {'_id': 6, 'count': 906},
 {'_id': 95, 'count': 855},
 {'_id': 1, 'count': 587},
 {'_id': 97, 'count': 485},
 {'_id': 98, 'count': 392},
 {'_id': 96, 'count': 384},
 {'_id': 0, 'count': 0}]

In [ ]:
###Avec quel age nous avons le plus de victimes par noyade?

In [10]:
pipeline = [
        { "$match": { "Weapon": "Drowning" }},
        { "$group": { "_id": "$Victim Age", "count": {"$sum": 1}}},
        {"$sort": {"count": -1}}
]

victims_drowing = collection.aggregate(pipeline)
list(victims_drowing)

[{'_id': 0, 'count': 37},
 {'_id': 2, 'count': 14},
 {'_id': 1, 'count': 12},
 {'_id': 3, 'count': 12},
 {'_id': 5, 'count': 10},
 {'_id': 24, 'count': 9},
 {'_id': 17, 'count': 7},
 {'_id': 99, 'count': 7},
 {'_id': 30, 'count': 7},
 {'_id': 36, 'count': 7},
 {'_id': 19, 'count': 7},
 {'_id': 20, 'count': 6},
 {'_id': 4, 'count': 6},
 {'_id': 22, 'count': 6},
 {'_id': 16, 'count': 6},
 {'_id': 33, 'count': 5},
 {'_id': 27, 'count': 5},
 {'_id': 7, 'count': 5},
 {'_id': 26, 'count': 4},
 {'_id': 38, 'count': 4},
 {'_id': 9, 'count': 4},
 {'_id': 31, 'count': 4},
 {'_id': 35, 'count': 4},
 {'_id': 37, 'count': 4},
 {'_id': 6, 'count': 3},
 {'_id': 29, 'count': 3},
 {'_id': 46, 'count': 3},
 {'_id': 58, 'count': 3},
 {'_id': 11, 'count': 3},
 {'_id': 18, 'count': 3},
 {'_id': 41, 'count': 3},
 {'_id': 28, 'count': 3},
 {'_id': 25, 'count': 3},
 {'_id': 39, 'count': 2},
 {'_id': 23, 'count': 2},
 {'_id': 32, 'count': 2},
 {'_id': 44, 'count': 2},
 {'_id': 34, 'count': 2},
 {'_id': 40, 'count': 2},
 {'_id': 54, 'count': 2},
 {'_id': 8, 'count': 2},
 {'_id': 14, 'count': 2},
 {'_id': 13, 'count': 2},
 {'_id': 43, 'count': 2},
 {'_id': 83, 'count': 1},
 {'_id': 76, 'count': 1},
 {'_id': 57, 'count': 1},
 {'_id': 75, 'count': 1},
 {'_id': 45, 'count': 1},
 {'_id': 63, 'count': 1},
 {'_id': 59, 'count': 1},
 {'_id': 79, 'count': 1},
 {'_id': 21, 'count': 1},
 {'_id': 90, 'count': 1},
 {'_id': 66, 'count': 1},
 {'_id': 12, 'count': 1},
 {'_id': 42, 'count': 1},
 {'_id': 48, 'count': 1},
 {'_id': 47, 'count': 1},
 {'_id': 67, 'count': 1},
 {'_id': 62, 'count': 1},
 {'_id': 56, 'count': 1},
 {'_id': 10, 'count': 1},
 {'_id': 50, 'count': 1},
 {'_id': 72, 'count': 1},
 {'_id': 49, 'count': 1},
 {'_id': 61, 'count': 1},
 {'_id': 55, 'count': 1}]

In [ ]:
### Dans quel état nous avons eu le plus de victimes par chute?

In [13]:
pipeline = [
        { "$match": { "Weapon": "Fall" }},
        { "$group": { "_id": "$State", "count": {"$sum": 1}}},
        {"$sort": {"count": -1}}
]

victims_state = collection.aggregate(pipeline)
list(victims_state)

[{'_id': 'New York', 'count': 13},
 {'_id': 'Illinois', 'count': 8},
 {'_id': 'District of Columbia', 'count': 3},
 {'_id': 'North Carolina', 'count': 3},
 {'_id': 'Connecticut', 'count': 3},
 {'_id': 'Michigan', 'count': 3},
 {'_id': 'Oregon', 'count': 2},
 {'_id': 'New Jersey', 'count': 1},
 {'_id': 'Missouri', 'count': 1},
 {'_id': 'Alaska', 'count': 1},
 {'_id': 'Delaware', 'count': 1},
 {'_id': 'South Carolina', 'count': 1},
 {'_id': 'Virginia', 'count': 1},
 {'_id': 'Hawaii', 'count': 1},
 {'_id': 'Minnesota', 'count': 1},
 {'_id': 'Oklahoma', 'count': 1},
 {'_id': 'Massachusetts', 'count': 1},
 {'_id': 'Rhodes Island', 'count': 1},
 {'_id': 'Ohio', 'count': 1},
 {'_id': 'Florida', 'count': 1},
 {'_id': 'Indiana', 'count': 1},
 {'_id': 'Colorado', 'count': 1}]

In [ ]:
### Quelle est la requête pour retrouver la liste avec les moyennes d'âge de chaque etat?

In [14]:
pipeline = [
        { "$group": { "_id": "$State", "avgAge": { "$avg": "$Victim Age" }}},
        {"$sort": {"count": -1}}
]
victims_avg_age = collection.aggregate(pipeline)
list(victims_avg_age)

[{'_id': 'Indiana', 'avgAge': 36.012106537530265},
 {'_id': 'South Dakota', 'avgAge': 32.67307692307692},
 {'_id': 'Virginia', 'avgAge': 36.07271702367531},
 {'_id': 'Oklahoma', 'avgAge': 34.18322580645161},
 {'_id': 'Minnesota', 'avgAge': 33.07692307692308},
 {'_id': 'Massachusetts', 'avgAge': 34.254826254826256},
 {'_id': 'Georgia', 'avgAge': 39.356767676767674},
 {'_id': 'California', 'avgAge': 33.903487375568595},
 {'_id': 'Iowa', 'avgAge': 33.633633633633636},
 {'_id': 'Idaho', 'avgAge': 31.930635838150287},
 {'_id': 'New Mexico', 'avgAge': 33.70238095238095},
 {'_id': 'South Carolina', 'avgAge': 37.00464306442252},
 {'_id': 'Texas', 'avgAge': 36.15717299578059},
 {'_id': 'West Virginia', 'avgAge': 41.59782608695652},
 {'_id': 'Alaska', 'avgAge': 31.16403785488959},
 {'_id': 'Kentucky', 'avgAge': 37.589125946317964},
 {'_id': 'Wyoming', 'avgAge': 34.79032258064516},
 {'_id': 'District of Columbia', 'avgAge': 36.06639427987743},
 {'_id': 'Washington', 'avgAge': 35.636792452830186},
 {'_id': 'Michigan', 'avgAge': 34.341431385423505},
 {'_id': 'Maine', 'avgAge': 32.36734693877551},
 {'_id': 'Florida', 'avgAge': 44.044012854547994},
 {'_id': 'North Dakota', 'avgAge': 30.362068965517242},
 {'_id': 'Rhodes Island', 'avgAge': 33.34594594594594},
 {'_id': 'Illinois', 'avgAge': 32.5119189511323},
 {'_id': 'Hawaii', 'avgAge': 33.696850393700785},
 {'_id': 'Arizona', 'avgAge': 37.3816},
 {'_id': 'Arkansas', 'avgAge': 37.414},
 {'_id': 'North Carolina', 'avgAge': 37.30531295487627},
 {'_id': 'Connecticut', 'avgAge': 33.065006915629326},
 {'_id': 'Missouri', 'avgAge': 34.5194283162126},
 {'_id': 'Delaware', 'avgAge': 32.98837209302326},
 {'_id': 'New Hampshire', 'avgAge': 32.0},
 {'_id': 'New Jersey', 'avgAge': 38.02694859038142},
 {'_id': 'Alabama', 'avgAge': 36.98180970149254},
 {'_id': 'Mississippi', 'avgAge': 36.960339943342774},
 {'_id': 'Nevada', 'avgAge': 37.19908814589666},
 {'_id': 'New York', 'avgAge': 35.919975811328364},
 {'_id': 'Louisiana', 'avgAge': 35.91919191919192},
 {'_id': 'Oregon', 'avgAge': 34.051359516616316},
 {'_id': 'Wisconsin', 'avgAge': 34.25},
 {'_id': 'Pennsylvania', 'avgAge': 34.23527721918989},
 {'_id': 'Maryland', 'avgAge': 32.88364329995231},
 {'_id': 'Colorado', 'avgAge': 34.170399221032135},
 {'_id': 'Kansas', 'avgAge': 34.16526610644258},
 {'_id': 'Ohio', 'avgAge': 35.07463540177295},
 {'_id': 'Montana', 'avgAge': 34.97222222222222},
 {'_id': 'Tennessee', 'avgAge': 37.60182956186808},
 {'_id': 'Nebraska', 'avgAge': 31.56451612903226},
 {'_id': 'Vermont', 'avgAge': 36.48275862068966},
 {'_id': 'Utah', 'avgAge': 27.610091743119266}]